
nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
nav li :hover{
    background-color: brown;
}
nav > ul > li:hover > ul{
    display: block;
}
.dropdown{

    display: none;
    position: absolute;
    background-color: lightpink;
    padding: 0%;
    
}

.dropdown li{

    padding: 0%;
    margin: 0%;
}








